<h1>Have a look through our ever growing collection</h1>
<section>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to( image_tag(recipe.image, alt:'No image', width: 200), recipe_path(recipe)) %><br><%= link_to("#{recipe.title}", recipe_path(recipe)) %><br>
    <small><%= recipe.makes %></small></li><br>
<% end %>
<br>
<center><%=button_to('New Recipe', new_recipe_path, method: :get)%></center>