<section id="ingredient-items">
  <div class="container">
    <div class="headline"><h1>Ingredients</h1>
    </div>
    <div class="tab-content">
      <div class="tab-pane">
        <div class="row recipe-items-in">
        <% @ingredients.each do |ingredient| %>
          <div class="recipe-thumb">
            <div class="recipe-img-link">
            <%= link_to( image_tag(ingredient.image, alt:"No image", class: "recipe-img"), ingredient_path(ingredient)) %>
            </div>
            <div class="recipe-title">
              <h2><%= link_to("#{ingredient.title}", ingredient_path(ingredient)) %></h2>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%=button_to('New Ingredient', new_recipe_path, method: :get)%>
  </div>
</section>