<%= image_tag("https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg", alt:"no image", class: "index")%>
<h1 class="category-heading"><% @categories.each do |category| %>
<%= link_to("#{category.title}", category_path(category)) %>
<br>
<% end %></h1>
<br>
<center><%=button_to('New Category', new_category_path, method: :get)%></center>