<h1><%= @category.title %></h1>
<section>
  <ul>
    <% @category.recipes.each do |recipe| %>
      <li><%= link_to("#{recipe.title}", recipe_path(recipe)) %></li><br>
    <% end %>
  </ul>
</section>
<br>
<%= link_to('Edit Category', edit_category_path(@category)) %><br>
<%= button_to("Delete #{@category.title} ?", category_path(@category), method: :delete, data: {confirm: 'Delete them? Are you sure?!'}) %>